/* .Relogio{
    width: 400px;
    height: 400px;
  }
  .RelogioDiv{
    width: 900px;
  }
  
  .Divisao1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
  
  }
  
  .container{
    display: flex;
    float: left;
  }
  .Decubitos{
  padding: 20px;
  }
  .Decubitos ul li{
    list-style: none;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    width: 300px;
  }
  .heade{
    display: flex;
  }
   */